{% extends "featurebase.html" %}
{% block title %}Concept to life{% endblock title %}
{% block body %}
<style>
    p{
        text-align: justify;
    }
    .index_ball{
  z-index: -1;
  opacity: 0.21;
}

</style>

<div class="container border border-white" style="background: linear-gradient(68.66deg, #f2f1f1, #6e6868 52.58%); border-radius: 100px 0px 100px 0px; position: relative;
text-align: center;
color: white;margin-top: 5%;" >
    <img src="{{ url_for('static', filename='concepttolife.png') }}" class="img-fluid " alt="concepttolife" style="width: 40%;height: 40%; "style="width:100%;">

    <div class="centered" style=" position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);"><h1   style="font-size: 5rem;white-space: nowrap;"><b>Visually  <br>
Enriched Learning</b></h1></div>
 
</div>
    </center> <br>


    <center>
    <h3 class="display-5" style="margin-top: 2%; font-weight: 350;"><b>Welcome to Concept to Life</b></h3></center>
    <!-- -------------------------------part------------------ -->
    <div class="d-flex" style="margin-left: 10%;margin-right: 10%; margin-bottom: 2%; margin-top: -2%;">
        <div class=" pl-2 flex-shrink-1 " style="margin:7% ;">
          <img src="{{ url_for('static', filename='ctl1stgirl.png') }}" class="rounded float-left" style="margin: 3%; width: 100%; height: 100%;" alt="index1stgirl">
        </div>
      
        <div class="p-2 w-100" style="margin-left: 5%;margin-top: 10%; ">
            <h5><b>What is it?</b></h5>
            <p class="lead" style="font-size: medium;"><b> 

                A groundbreaking feature of VISON AI designed to transform  concepts into visually stimulating content. Concept to Life goes beyond traditional learning methods, providing learners with immersive visual experiences that make complex ideas easy to understand and remember.</b></p>
        </div>
      </div>



      <!-- ------------------------part  -------------------------->
<center>
      <h5 class="display-6" style="font-weight: 350;"><b>Core Strengths</b></h5></center>
        <!-- -----------------------Core Strengths---------------------- -->
          
          
        </div>
        <div class="core"><center>
        <div class="d-flex" style="margin: 5%;margin-bottom: -5%; margin-top: 5%;">
            <div style="margin-right: 10%;;"><h5><b>Visual Representation:</b></h5>
             <p class="lead" style="font-size: medium;"><b>
                
Concept to Life visually represents abstract concepts using engaging graphics, animations, and illustrations. This visual approach helps learners grasp complex ideas more effectively and retain information longer.</b></p>
            </div>
            <div style="margin-left:12% ;"><h5><b>Real-life Examples:</b></h5>
             <p class="lead" style="font-size: medium;"><b>
                
The feature enriches learning experiences with real-life examples, demonstrating how abstract concepts apply in practical situations. By connecting concepts to real-world scenarios, learners gain a deeper understanding of their relevance and importance.</p>
            </div>
          
            
          </div>
          
          <img src="{{ url_for('static', filename='thinkinggorl.png') }}" class="rounded"  style=" width: 10%;height:20%; float: center; margin-left: -5%;"  alt="index1stgirl">
          <img src="{{ url_for('static', filename='msgsymbool.png') }}" class="rounded"  style=" width: 10%;height:20%;margin-left: -3%; margin-top: -20%;"  alt="index1stgirl">
          <img src="{{ url_for('static', filename='view.png') }}" class="rounded"  style=" width: 8.5%;height:17%;margin-left: -9.5%; margin-top: -22.3%;"  alt="index1stgirl">
        
         
            <div style="width: 60%; margin-top:2% ;"><h5><b>Interactive Elements:</b></h5>
                <p class="lead" style="font-size: medium;"><b>
                    
Concept to Life incorporates interactive elements such as quizzes, simulations, and interactive exercises to reinforce learning and promote active engagement. Learners can interact with the content, test their understanding, and apply concepts in a hands-on manner.</b></p>
               </div>
          </center>
        </div>
        <!-- --------------------------How It Works:------------------ -->
<center><h5 class="display-6" style="font-weight: 350; padding-top: 2%;"><b>How It Works</b></h5></center>
        <!---------------------------right imag --------------------------- -->
        <div class="d-flex" style="margin-left: 10%; margin-right:10%; margin-top: 2%;">
           
          <div class="p-2 w-100"><h5><b>Input Your Query:</b></h5>
            <p class="lead" style="font-size: medium;"><b>

                Simply input your query or select a concept you'd like to learn more about. Whether it's a specific topic or a question you have, Voice Articulate is ready to provide answers.</b></p>
        </div>
        <div class="pl-2 flex-shrink-1 " style="margin-right:5%;"><img src="{{ url_for('static', filename='handstouch.png') }}" class="rounded float-end"  style="margin-left: 5%; width: 65%;height: 90%;"  alt="index1stgirl"></div>
          
        </div>

<!-- ------------------------------------left image ----------------------------------- -->
        <div class="d-flex" style="margin-left: 10%;margin-right: 10%; margin-bottom: 2%; margin-top: -1%;">
            <div class=" pl-2 flex-shrink-1 " style="margin:7% ;">
              <img src="{{ url_for('static', filename='lapbookcofee.png') }}" class="rounded float-left" style="margin: 3%; width: 90%; height: 100%;" alt="index1stgirl">
            </div>
          
            <div class="p-2 w-100" style="margin-left: 5%;margin-top: 10%; ">
                <h5><b>Explanation:</b></h5><p class="lead" style="font-size: medium;"><b> 

                    Voice Articulate generates a personalized audio explanation based on your query, providing clear and concise guidance. You'll receive an audio file or playback option that delivers the information you need in a format that suits your preferences.te is ready to provide answers.</b></p>
            </div>
          </div>
          
    <!-- ----------------------------------right image ------------------------------------ -->
    <div class="d-flex" style="margin-left: 10%; margin-right:10%; ">
           
        <div class="p-2 w-100"><h5><b>Interactive Learning:</b></h5><p class="lead" style="font-size: medium;"><b>

            Engage with the audio content interactively, pausing, rewinding, and replaying as needed to reinforce your understanding. Voice Articulate allows you to learn at your own pace, ensuring that you absorb information effectively.</b></p>
      </div>
      <div class="pl-2 flex-shrink-1 " style="margin-right:5%;"><img src="{{ url_for('static', filename='solarsyatem.png') }}" class="rounded float-end"  style="margin-left: 5%; width: 65%;height: 100%;"  alt="index1stgirl"></div>
        
      </div>
      <center>
      <a href="/conceptchat" type="button" class="btn btn-outline-success border border-black" type="submit" style="background-color: #8e7fec; background-image: linear-gradient(90deg, #8e7fec, #4939b1 50%, #514886); color: white; border-radius: 20px; width: 200px; height: 40px; margin-top: 4%; margin-bottom: 2%;"><b>Try It!</b></a>
    </center>
    <img class="index_ball" src="{{url_for('static',filename='21ball.png')}}" alt="index_ball" style="width: 43%;height: 43%;margin-top: -300%;margin-left: 70%; margin-bottom: 10%;">

    <img class="index_ball" src="{{url_for('static',filename='21ball.png')}}" alt="index_ball" style="width: 40%;height: 40%;margin-left: 20%;margin-top: -210%;">
    
    <img class="index_ball" src="{{url_for('static',filename='21ball.png')}}" alt="index_ball" style="width: 40%;height: 40%; margin-left: 60%;margin-top: -60%;">

    
    {% endblock body %}